name: Unit tests

on:
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  unit-tests:
    name: Unit tests
    runs-on: ubuntu-latest-4-cores

    strategy:
      fail-fast: false
      matrix:
        shard: [1, 2, 3, 4]

    steps:
      - uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4.4.0
        with:
          node-version: "22.15.0"
          cache: "yarn"
      - name: Install packages
        shell: bash
        run: |
          npm ci
      - name: Run unit tests
        run: |
          npm test
